# Copy this file to `.env` and fill in your local values
# Prisma will load this when running via prisma.config.ts

# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clinicaperu?schema=public"
# JWT Secret
JWT_SECRET="your-super-secret-jwt-key-here"

# Puerto del servidor
PORT=3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configuración de email (opcional)
EMAIL_PROVIDER="resend"  # "mailhog" o "resend"

# Configuración MailHog (desarrollo)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@clinicaperuxd.local

# Configuración Resend (producción)
RESEND_API_KEY="your-resend-api-key-here"
RESEND_FROM_EMAIL="noreply@clinicaperudx.com"

# S3 AWS
AWS_ACCESS_KEY_ID=AKIA... (tu clave de acceso)
AWS_SECRET_ACCESS_KEY=... (tu secreto)
AWS_REGION=us-east-1 (la región de tu bucket)
S3_BUCKET_NAME=proyecto-clinica-fabrizio-2025 (el nombre de tu bucket)