# Copy this file to `.env` and fill in your local values
# Prisma will load this when running via prisma.config.ts

# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clinicaperu?schema=public"
JWT_SECRET=cualquierClaveSegura

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Email (MailHog)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@clinicaperu.local

# S3 AWS
AWS_ACCESS_KEY_ID=AKIA... (tu clave de acceso)
AWS_SECRET_ACCESS_KEY=... (tu secreto)
AWS_REGION=us-east-1 (la región de tu bucket)
S3_BUCKET_NAME=proyecto-clinica-fabrizio-2025 (el nombre de tu bucket)
